
body {

  height: 100%;
  font-family: "Rockwell";
}

html { 
  height: 100%;


}
.banner {
	position: absolute;
  	margin-right: auto;
  	margin-left: auto;
  	top: 35%;
  	left:30%;
  	overflow: auto;
	
}

.container {padding: 15px;
}
.center {
  width: 800px;
  background: black;
  margin-top: auto;
  
}
.thediv{
  min-height:100%;
  min-width:100%;
  background: url(../images/genius2.jpg) no-repeat center center fixed;
  display:flex;
  align-items:stretch;
  position:relative;
  background-size: 100%; 
}
.topmenubanner {
	background: #303030;
	height: 60px;
	width: 100%;
	
}
.middlemenubanner {
	background: #303030;
	height: 20px;
	width: 100%;
	
}
.fpage {
	background: transparent;
	position: absolute;
	z-index: 1;
	height: 520px;
	width: 100%;
	position: absolute;
	overflow: auto;
}


.items {
	width: 550px;
}

.container1 {
	margin-left: 150px;
	font-family: "Rockwell";
	max-width: 700px;
	float: left;
}
.container1 h1 {
	font-family: "Rockwell";
	padding-top: 18px;
	font-size: 54px;
}

.container1 p {
	font-size: 20px;
	text-align: justify;
}

.container2 {
    position: relative;
    z-index: 2;
	margin-right: 150px;
	background: #303030;
	width: 400px;
	height: 320px;
	float: right;
	margin-top: 95px;
	border-radius: 25px;
}

.loginform {
	/*border:solid 2px red;*/
	position: relative;
    z-index: 3;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 15%;
	text-align: center;
}
.loginform p {
	font-family: "Rockwell";
	color: white;
	text-align: center;
	line-height: 70%;
	margin:30px;
}
.loginform button {
	position: relative;
    z-index: 4;
	margin: 20px 15px 15px 15px;
	padding: 10px;
	background-color: #33adff;
	border: 0;
	width: 120px;
	color: white;
	font-family: "Rockwell";
	font-size: 16px;
	cursor: pointer;
	z-index: 1;
}


/* The "Forgot password" text */
span.psw {
    float: right;
    
}
/* Bordered form */
form {
    border: 3px solid #f1f1f1;
}

/* Full-width inputs */
input[type=text], input[type=password],input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
/* Extra style for the cancel button (red) */
.cancelbtn {
    background-color: #f44336;
    cursor: pointer;
    float: left;
}

.login-button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
img {
    max-width: 100%;
    height: auto;
    width: auto\9; /* ie8 */
}
@font-face {  
	  font-family: bannerFont ;  
	  src: url( fonts/techconnect.ttf ) format("truetype");  
	}

.banner-font {
font-family: bannerFont; font-size: 7em; margin-bottom: 5px;
}	
.text-index-font {
font-family: Bookman, serif; font-size: 2em; letter-spacing: 8px; line-height: 110%; font-weight: bold;
}

.button-login-padding {
padding-top: 30px;
}

.footer1 {
	background-color: #f1f1f1;
	overflow:auto;
	width:100%;
	margin-top: 15px;
}
.footer2 {
 float: left; 
 margin: auto;
 height: 40px;
 line-height: 40px;
 text-align: center;
 padding-left: 10px;
}

.footer3 {
 float: right; 
 margin: auto;
 height: 40px;
 line-height: 40px;
 text-align: center;
 padding-right: 10px;
}

.block1 {
	overflow:auto;
	width:100%;
	margin-top: 5px;
}

.modelHeader {

	font-family: "Rockwell";
	font-size: 28px;

}

.spage {
    margin-top: 520px;
    position:relative;
	height: 80px;
	width: 100%;
	background: #303030;
}

.spage ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #303030;
}

.spage li {
    float: left;
    width:33%;
    font-size: 24px;
    height: 80px;
}

.spage li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: 80px;
}

/* Change the link color to #111 (black) on hover */
.spage li a:not(.nohover):hover {
    background-color: white;
    color: #33adff;
    font-weight: bold;
}

.tpage {
	height: 400px;
	margin-left: 150px;
	width: 100%;
	float: left;
	display: none;
	margin-top: 40px;
	outline: none;
		
}
.tpage h1 {
	font-size: 54px;
	font-family: "Rockwell";
}

.tpage p {
	width: 700px;
	font-size: 20px;
	text-align: justify;
}

.inv-img {
	float: right;
	max-width: 450px;
	max-height: 450px;
	/*border: 1px solid #ccc;*/
	margin-right: 300px;
	margin-top: 70px;
	
}

#li-involve {
	margin-left:.5%;
}

/*Top Menu bar css */

.ltopmenu {
	float: left;
	width: auto;
	overflow: auto;
	max-height: 60px;
}

.ltopmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #303030;
    margin-left: 150px;
    text-decoration: none;
    
}

.ltopmenu ul li a {
	text-decoration: none;
	color:  #b3b6b7;
}

.ltopmenu li {
    float: left;
    width:auto;
    margin-right: 20px;
    font-size: 12px;
    height: 60px;
    color: white;
    text-align: center;
    height: 60px;
    padding-top: 20px;
    font-size: 16px;
    
}


.ltopmenu a:hover{
	color:  #fff;
}

.rtopmenu {
	float: right;
	width: auto;
	overflow: auto;
	max-height: 60px;
	margin-right: 150px;
}

.rtopmenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #303030;
    text-decoration: none;
    
}

.rtopmenu ul li a {
	text-decoration: none;
	color:  #b3b6b7;
}

.rtopmenu li {
    float: left;
    width:auto;
    margin-right: 20px;
    font-size: 12px;
    height: 60px;
    color: white;
    text-align: center;
    height: 60px;
    padding-top: 20px;
    font-size: 16px;
    
}
.rtopmenu a:hover{
	color:  #fff;
}

/* Menu bar css ends */

.bottommenubar {
	background: #303030;
	height: 60px;
	width: 100%;
	display: none;
	margin-top: 510px;
	
}

/*Bottom Menu bar css */

.lbottommenu {
	float: left;
	width: auto;
	overflow: auto;
	max-height: 60px;
}

.lbottommenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #303030;
    margin-left: 150px;
    text-decoration: none;
    
}

.lbottommenu ul li a {
	text-decoration: none;
	color:  #b3b6b7;
}

.lbottommenu li {
    float: left;
    width:auto;
    margin-right: 20px;
    font-size: 12px;
    height: 60px;
    color: white;
    text-align: center;
    height: 60px;
    padding-top: 20px;
    font-size: 16px;
    
}


.lbottommenu a:hover{
	color:  #fff;
}

.rbottommenu {
	float: right;
	width: auto;
	overflow: auto;
	max-height: 60px;
	margin-right: 150px;
}

.rbottommenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #303030;
    text-decoration: none;
    
}

.rbottommenu ul li a {
	text-decoration: none;
	color:  #b3b6b7;
}

.rbottommenu li {
    float: left;
    width:auto;
    margin-right: 20px;
    font-size: 12px;
    height: 60px;
    color: white;
    text-align: center;
    height: 60px;
    padding-top: 20px;
    font-size: 16px;
    
}
.rbottommenu a:hover{
	color:  #fff;
}

/* bottom Menu bar css ends */

.inv-div {
	overflow: auto;
	height: 400px;
	float: left;
}

.inv-img img {
margin-top: -20px;
margin-right: 40px;	
}


/*Home page */

.topmenubanner-h {
	background: #303030;
	height: 100px;
	width: 100%;
	z-index:1;
	
}

.banner-h{
  min-height:200px;
  background: url(../images/genius.jpg) no-repeat top center fixed;
  display:flex;
  align-items:stretch;
  position:relative;
  background-size: 100%;
  z-index: 1;
}

/*Top Menu bar css */

.ltopmenu-h {
	float: left;
	width: auto;
	overflow: auto;
	max-height: 60px;
	margin-top: 15px;
}

.ltopmenu-h ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #303030;
    margin-left: 200px;
    text-decoration: none;
    z-index: 1;
    
}

.ltopmenu-h ul li a {
	text-decoration: none;
	color:  #b3b6b7;
}

.ltopmenu-h li {
    float: left;
    width:auto;
    margin-right: 20px;
    font-size: 12px;
    height: 60px;
    color: white;
    text-align: center;
    height: 60px;
    padding-top: 20px;
    font-size: 16px;
    
}




.ltopmenu-h a:hover{
	color:  #fff;
}

.rtopmenu-h {
	float: right;
	width: auto;
	overflow: auto;
	max-height: 60px;
	margin-right: 200px;
	margin-top: 15px;
}

.rtopmenu-li-img {
	padding-top: 5px !important;
}

.rtopmenu-img {
	height: 50px;
	width: 50px;
	border-radius:10px;
	
}

.rtopmenu-h ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #303030;
    text-decoration: none;
    
}

.rtopmenu-h ul li a {
	text-decoration: none;
	color:  #b3b6b7;
}

.rtopmenu-h li {
    float: left;
    width:auto;
    margin-right: 20px;
    font-size: 12px;
    height: 60px;
    color: white;
    text-align: center;
    height: 60px;
    padding-top: 20px;
    font-size: 16px;
    
}
.rtopmenu-h a:hover{
	color:  #fff;
}

/* Menu bar css ends */

.leftpane {
float: left; 
width: 552px; 
margin-left: 2em;
}

.readpane {
	max-width: 80%;
 	margin: auto;
 	padding-top: .5%;
 	height: auto;
 	overflow: auto;
}

.items {
	width: 550px;
}

.profile-button {
	background: #303030;
	border: none;
	cursor: pointer;
	overflow: hidden;
	color: #b3b6b7;
	font-weight: normal !important;
}

.dropdown-hover {
	position:static;
	min-width: 100%;
	width: 100%;
	position:relative;
	display:inline-block;
	cursor:pointer

}

.dropdown-hover:hover {
	background-color:#303030;
	color:#000;
	display:block;
	z-index:2;
	-webkit-transition:background-color .25s,color .15s,box-shadow .25s,opacity 0.25s,filter 0.25s,border 0.15s;
	transition:background-color .25s,color .15s,box-shadow .15s,opacity .25s,filter .25s,border .15s;
}

.dropdown-hover:first-child {
	background-color:#303030;
	color:#000;
	
}

.dropdown-hover a{border-bottom:0}

.dropdown-content {
	z-index:2;
	cursor:auto;
	color:#000;
	display:none;
	position:absolute;
	min-width:160px;
	margin:0;
	padding:0;
	height: auto;
	border-left-radius: 25px;
	margin-top: 5px;
	background: #303030; 	
} 
.dropdown-content a:hover{color:  #fff}
.dropdown-content li a{
	text-decoration:none !important;
	padding:6px 16px;
	display:block;
	width: 100%;
	
	}
	
.dropdown-content ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #303030;
    text-decoration: none;
    width: 180px;
	
}
.dropdown-content li a{
	width: 100% !important;
	
}
.separator {
	border: 1px solid #303030;
}
